.mem-sprite {
	background-image:url(http://static.jeevansathi.com/images/jspc/membership_img/mem-sprite2.png);
	background-repeat:no-repeat
}
.mem_bgwh {
	background:url(http://static.jeevansathi.com/images/jspc/membership_img/trans_white.png) repeat
}
.mem_bg1 {
	background-color:#342040
}
.mem-up {
	background-position:-59px -236px;
	width:24px;
	height:21px
}
.mem-down {
	background-position:-59px -213px;
	width:24px;
	height:21px
}
.mem_brdr1 {
	border-bottom:2px solid #fff
}
.mem-pad1 {
	padding:35px 0 0 0
}
.mem-pad2 {
	padding:30px 27px 12px 25px
}
.mem_pad3 {
	padding:0 25px
}
.mem_pad4 {
	padding:50px 0
}
.mem_pad5 {
	padding:37px 73px 0 55px
}
.mem_pad6 {
	padding:10px 15px 19px 0
}
.mem_pad7 {
	padding:17px 0
}
.mem_pad8 {
	padding:25px 0 70px
}
.mem_pad9 {
	padding:5px 0
}
.mem_pad10 {
	padding:20px 0 0 50px
}
.mem_pad11 {
	padding:0 0 12px 0
}
.mem_pad12 {
	padding:20px 0 12px
}
.mem_pad13 {
	padding:18px 0 17px 0
}
.mem_pad15 {
	padding:26px 0 25px 0
}
.mem_pad16 {
	padding:15px 10px 20px 10px
}
.mem_pad17 {
	padding:25px 25px 10px 25px
}
.mem_pad18 {
	padding:0 28px
}
.mem_pad19 {
	padding:25px 15px 17px 15px
}
.mem_pad20 {
	padding:18px
}
.mem_pad21 {
	padding:30px
}
.mem_pad22 {
	padding-top:80px
}
.mem_pad23 {
	padding:18px 15px
}
.mem_pad24 {
	padding:25px 15px 17px 23px
}
.mem_pad25 {
	padding:20px 0
}
.mem_pad26 {
	padding:30px 19px
}
.mem_pad27 {
	padding:19px
}
.mem_pad28 {
	padding-top:357px
}
.mem_pad29 {
	padding-top:50px
}
.mem_pad30 {
	padding-left:175px
}
.mem_pad31 {
	padding:18px 0 18px 30px
}
.mem_pad32 {
	padding-left:212px
}
.mem-pad33 {
	padding:40px 30px
}
.mem_pad34 {
	padding-bottom:50px
}
.mem_pad35 {
	padding:30px 30px 10px 30px
}
.mem_pad36 {
	padding:25px 15px 3px 15px
}
.mem_mr1 {
	margin-top:40px
}
.mem_mr2 {
	margin-top:-2px
}
.mem_wid2 {
	width:264px
}
.mem_wid3 {
	width:582px
}
.mem_wid4 {
	width:260px
}
.mem-wid5 {
	width:166px
}
.mem-wid6 {
	width:252px
}
.mem-wid7 {
	width:119px
}
.mem-wid8 {
	width:86px
}
.mem-wid9 {
	width:621px
}
.mem-wid10 {
	width:365px
}
.mem-wid11 {
	width:2970px
}
.mem-wid12t {
	width:1863px
}
.mem-wid13 {
	width:936px
}
.mem-wid14 {
	width:170px
}
.mem-wid15 {
	width:600px
}
.mem-wid16 {
	width:533px
}
.mem-wid17 {
	width:250px
}
.mem-wid18 {
	width:670px
}
.mem-wid19 {
	width:900px
}
.mem_wid278 {
	width:278px
}
.mem-widp1 {
	width:72.5%
}
.mem-widp2 {
	width:25.4%
}
.mem-widp3 {
	width:48.5%
}
.mem-widp4 {
	width:33.3%
}
.mem-widp5 {
	width:21%
}
.mem-widp6 {
	width:60%
}
.mem-widp7 {
	width:17%
}
.mem-widp8 {
	width:82%
}
.mem-widp9 {
	width:40%
}
.mem-widp10 {
	width:70%
}
.mem-widp11 {
	width:73%
}
.mem-widp12 {
	width:78%
}
.mem-wid180 {
	width:180px
}
.mem-progline {
	width:82%
}
.mem-boxdim {
	width:73px;
	height:39px
}
.mem-gap1 {
	width:10px
}
.mem-passwid {
	width:135px
}
.mem-hgt1 {
	height:24px
}
.mem-hgt2 {
	height:51px
}
.mem-hgt3 {
	min-height:465px
}
.mem-hgt4 {
	height:13px
}
.mem-hgt5 {
	height:5px
}
.mem-hgt6 {
	height:1px
}
.mem_brd1 {
	border-bottom:1px solid #999
}
.mem-brd2 {
	border-bottom:1px solid #fff
}
.mem-brd3 {
	border-bottom:1px solid #34495e
}
.mem-brd4 {
	border-bottom:3px solid #34495e
}
.mem-brd5 {
	border:1px solid #cacaca
}
.mem-brd6 {
	border-right:1px solid #cacaca
}
.mem-brd7 {
	border-bottom:1px solid #474747
}
.mem-brd8 {
	border-bottom:1px dashed #e7e6e6
}
.mem-brd9 {
	border-right:1px solid #fff
}
.mem-brd10 {
	border-top:1px solid #4b5167
}
.mem-bdr11 {
	border-right:1px solid rgba(255, 255, 255, 0.5)
}
.mem-bdr12 {
	border-bottom:1px solid #d4d4d4
}
.mem-bdr13 {
	border:1px solid #c7c6c6
}
.mem-bdr14 {
	border-bottom:1px solid #ccc
}
.mem-bdr15 {
	border:1px solid #ccc
}
.mem-bdr16 {
	border-left:1px solid #ccc
}
.mem-bdr17 {
	border:5px solid #d9475c
}
.mem-bdr18 {
	border:5px solid #999
}
.jsexc ul {
	margin:0;
	padding:15px 0 0 0;
	list-style-type:none
}
.jsexc ul li {
	background:url(http://static.jeevansathi.com/images/jspc/membership_img/tick.png) no-repeat 1px 12px;
	padding:5px 0 0 18px
}
.valuopt>div {
	background-color:#f2f2f2;
	width:194px;
	color:#666;
	cursor:pointer
}
.valuopt div.active {
	background-color:#34495e;
	color:#fff
}
ul.feature {
	margin:0;
	padding:0;
	list-style-type:none
}
ul.feature li {
	color:#3b475e;
	padding-top:20px;
	font-size:15px
}
.memgreybox {
	width:16px;
	height:16px;
	background-color:#d2d2d2
}
.mem-pos1 {
	right:0;
	top:0
}
.mem-pos2 {
	top:12px;
	left:0
}
.mem-pos3 {
	left:0;
	top:0
}
.mem-pos4 {
	left:0;
	top:7px
}
.mem-pos5 {
	right:0;
	bottom:15px
}
.mem-pos6 {
	right:0;
	bottom:0
}
.mem-pos7 {
	top:36px;
	left:0
}
.mem-pos8 {
	top:-40px;
	right:-10px
}
.mem-pos9 {
	bottom:0;
	right:-300px
}
.mem-pos10 {
	left:75px;
	top:75px
}
.mem-pos11 {
	right:-180px
}
.mem-pos12 {
	right:-40px
}
.mem-check1 {
	background-position:1px 0px;
	width:25px;
	height:26px
}
.mem-notcheck {
	background-position:1px -25px;
	width:25px;
	height:26px
}
.mem-notcheck1 {
	background-position:-51px -72px;
	width:25px;
	height:26px
}
.mem-B {
	background-position:-26px 5px;
	width:53px;
	height:52px
}
.mem-T {
	background-position:-79px 0px;
	width:53px;
	height:52px
}
.mem-A {
	background-position:-134px 0px;
	width:53px;
	height:52px
}
.mem-M {
	background-position:-187px 0px;
	width:28px;
	height:52px
}
.mem-R {
	background-position:-216px 0px;
	width:53px;
	height:52px
}
.mem-I {
	background-position:-273px 0px;
	width:44px;
	height:52px
}
.mem-leftcirlce {
	background-position:-53px -55px;
	width:4px;
	height:12px
}
.mem-rightcirlce {
	background-position:-60px -55px;
	width:4px;
	height:12px
}
.mem-check2 {
	background-position:-51px -98px;
	width:22px;
	height:21px
}
.memacc-notsel {
	background-position:0px -82px
}
.mem-ame-exp {
	width:44px;
	height:28px;
	background-position:-77px -54px
}
.mem-mstr-card {
	width:44px;
	height:28px;
	background-position:-121px -54px
}
.mem-visa {
	width:44px;
	height:28px;
	background-position:-165px -54px
}
.mem-rupay {
	width:64px;
	height:28px;
	background-position:-216px -54px
}
.mem-dinersclub {
	width:69px;
	height:28px;
	background-position:-77px -90px
}
.mem-united {
	width:66px;
	height:28px;
	background-position:-145px -90px
}
.mem-heart1 {
	background-position:-2px -106px;
	width:24px;
	height:22px
}
.mem-heartgrey {
	background-position:-2px -128px;
	width:24px;
	height:22px
}
.mem-call2 {
	background-position:-31px -123px;
	width:73px;
	height:73px
}
.mem-chk3 {
	background-position:-6px -156px;
	width:17px;
	height:14px
}
.mem-cross1 {
	background-position:-6px -174px;
	width:17px;
	height:14px
}
.mem-cross2 {
	background-position:-217px -89px;
	width:29px;
	height:32px
}
.leftcorner_trianle {
	width:0;
	height:0;
	border-style:solid;
	border-width:0 0 8px 8px;
	border-color:transparent transparent #8a8d91 transparent
}
.leftcorner_trianle1 {
	width:0;
	height:0;
	border-style:solid;
	border-width:0 0 8px 8px;
	border-color:transparent transparent #d4d4d4 transparent
}
.sli_brdr1 {
	border-bottom:1px solid #34495e
}
.planlist ul {
	list-style-type:none
}
.planlist ul li {
	color:#999;
	display:inline-block;
	width:260px;
	text-align:center;
	padding-bottom:6px;
	cursor:pointer
}
.planlist ul li span {
	display:inline-block
}
.planlist ul li.active {
	color:#34495e;
	border-bottom:3px solid #34495e
}
.planlist ul li span:nth-child(n+1) {
font-size:13px
}
.planlist ul li span:nth-child(2) {
font-size:24px
}
.planlist ul li span:nth-child(3) {
padding-left:10px
}
.opt {
	background-color:#f2f2f2;
	color:#666
}
.smallcircle {
	background-color:#aaa;
	border-radius:5px;
	width:10px;
	height:10px
}
.mem-sep {
	border-bottom:1px solid #aaa
}
.mem-radio {
	background-position:-22px -1px;
	width:16px;
	height:15px
}
.plansel {
	background-color:#34495e;
	color:#fff !important
}
.plansel .mem-radio {
	background-position:-21px -18px
}
.opt .newclr1 {
	color:#d9475c
}
.plansel .newclr1 {
	color:#fff
}
.benefits ul {
	list-style-type:none
}
.benefits ul li.check {
	background:url(http://static.jeevansathi.com/images/jspc/membership_img/grey-tick.png) no-repeat 1px 31px;
	padding:23px 0 0 25px;
	color:#2c2c2c
}
.benefits ul li.cross {
	background:url(http://static.jeevansathi.com/images/jspc/membership_img/crossicon.png) no-repeat 1px 27px;
	padding:23px 0 0 25px;
	color:#999
}
.benefits ul li {
	font-size:15px
}
.timer ul {
	list-style-type:none
}
.timer ul li {
	color:#fff;
	font-size:20px;
	display:inline-block;
	padding-left:8px
}
.timer ul li span {
	font-size:10px;
	padding-left:1px
}
#VASdiv ul {
	list-style-type:none
}
#VASdiv ul li {
	float:left;
	margin-top:15px
}
#VASdiv ul li:nth-child(1), #VASdiv ul li:nth-child(2) {
margin-top:0
}
#VASdiv ul li:nth-child(odd) {
margin-right:18px
}
#VASdiv ul li:hover {
	background-color:#d7d7d7
}
#VASdiv .vascell {
	color:#34495e;
	padding:16px 0;
	cursor:pointer
}
#VASdiv .vascell:hover {
	background-color:#d9475c;
	color:#fff
}
.vasoverlay {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:2;
	background-color:rgba(0, 0, 0, 0.93)
}
.vasoverlay2 {
	position:absolute;
	top:25%;
	left:0;
	height:75%;
	width:100%;
	z-index:3
}
.vasselicon {
	width:52px;
	height:51px;
	background-position:1px -54px
}
.vsup {
	vertical-align:super;
	font-size:10px;
	padding-left:5px
}
ul.memfealist li {
	float:left;
	width:50%;
	line-height:23px
}
.acc_list_box {
	background-color:#f1f0f0;
	
}
.formmem-one label {
	font-size:13px;
	color:#999
}
.formmem-one input {
	outline:#fff
}
dl {
	margin:0
}
.dropdown dd, .dropdown dt, .dropdown ul {
	margin:0px;
	padding:0px
}
.dropdown ul {
	height:200px;
	overflow:auto
}
.dropdown dd {
	position:relative
}
.dropdown a, .dropdown a:visited {
	color:#816c5b;
	text-decoration:none;
	outline:none
}
.dropdown dt a {
	display:block;
	width:100%
}
.dropdown dt a span {
	cursor:pointer;
	display:block
}
.dropdown dd ul {
	background:#fff;
	border:0;
	color:#C5C0B0;
	display:none;
	left:0px;
	padding:5px 0px;
	position:absolute;
	top:6px;
	width:100%;
	min-width:170px;
	list-style:none;
	z-index:1
}
.dropdown span.value {
	display:none
}
.dropdown dd ul li {
	padding:5px;
	display:block;
	border-bottom:1px solid #d4d4d4;
	color:#34495e
}
.dropdown dd ul li:hover {
	background-color:#d4d4d4;
	color:#fff
}
.content {
	overflow:auto;
	position:relative;
	width:100%;
	background-color:#fff;
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.drop1 ul {
	width:96%
}
.drop1 ul li {
	line-height:35px;
	border-bottom:1px solid #d4d4d4;
	cursor:pointer
}
.drop1 ul li:hover {
	background-color:#d4d4d4;
	color:#fff
}
.mem-colr1 {
	color:#342040
}
.mem-colr2 {
	color:#2c2c2c
}
ul.samplechq {
	list-style-type:none
}
ul.samplechq li:before {
	content:'\2022';
	display:block;
	position:relative;
	max-width:0;
	max-height:0;
	left:-10px;
	top:0;
	color:#d4d4d4;
	font-size:20px
}
ul.vasopted {
	list-style-type:none
}
.mem-rotate {
	-ms-transform:rotate(-20deg);
	-webkit-transform:rotate(-20deg);
	transform:rotate(-20deg)
}
.SelTime1req-drop ul li, .SelTime2req-drop ul li {
	padding-left:10px
}
.overlay1 {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:8;
	background-color:rgba(0, 0, 0, 0.75)
}
.mem-overlay3 {
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:2;
	background-color:rgba(0, 0, 0, 0.95)
}
.mem-bg1 {
	background-color:#dbdbdc
}
#cmpplan .cmp-wid1 {
	width:346px
}
#cmpplan .cmp-wid2 {
	width:125px
}
#cmpplan .cmp-wid3 {
	width:121px
}
#cmpplan .cmp-lh1 {
	height:50px;
	line-height:50px
}
#cmpplan .bdrb {
	border-bottom:1px solid #babbbb;
	border-left:1px solid #babbbb;
	border-right:1px solid #babbbb
}
#cmpplan .bdrb1 {
	border-bottom:1px solid #babbbb
}
#cmpplan .bdrb2 {
	border-right:1px solid #babbbb
}
#cmpplan .cmp-pad1 {
	padding:6px 0 9px 0
}
#cmpplan .cmp-lh2 {
	line-height:51px;
	height:51px
}
#cmpplan .hoverimg {
	background:url(http://static.jeevansathi.com/images/jspc/membership_img/cmp-hover1.png) repeat;
	display:none
}
#cmpplan .cmp-vbtn div {
	display:none
}
td#esathi-col:hover .hoverimg, td#esathi-col:hover .cmp-vbtn div {
	display:block
}
td#evalue-col:hover .hoverimg, td#evalue-col:hover .cmp-vbtn div {
	display:block
}
td#eristha-col:hover .hoverimg, td#eristha-col:hover .cmp-vbtn div {
	display:block
}
td#free-col:hover .hoverimg, td#free-col:hover .cmp-vbtn div {
	display:block
}
.mem-lh1 {
	line-height:50px
}
.mem-cb-hgt1 {
	height:50px
}
.whiteout {
	outline:#FFF
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.mem-lh1 {
line-height:51px
}
.mem-cb-hgt1 {
height:51px
}
}
@-moz-document url-prefix() {
.mem-lh1 {
line-height:54px
}
.mem-cb-hgt1 {
height:54px
}
}
}
.accordion, .accordion * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.accordion-section-title {
	display:inline-block;
	color:#666;
	font-size:20px;
	transition:all linear 0.15s
}
.accordion-section {
	border-bottom:1px solid #d4d4d4
}
.accordion-section-title.active {
	text-decoration:none;
	color:#d9475c;
	background-position:0px -103px
}
.accordion-section:last-child .accordion-section-title {
	border-bottom:none
}
.accordion-section-content {
	padding:0 15px 0 30px;
	display:none
}
.planwidth {
	width:170px !important
}
.mem-vas-active {
	background-color:#d9475c;
	color:#fff !important
}
.mem-timerbg {
	background:url(http://static.jeevansathi.com/images/jspc/membership_img/timer-bg.png) no-repeat;
	width:85px;
	height:65px
}
.bg_greyed {
	background-color:#969696
}
ul.chqpick {
	list-style-type:none
}
ul.chqpick li {
	line-height:30px
}
ul.chqpick li span {
	display:inline-block;
	width:320px
}
ul.chqpick li span:nth-child(1) {
text-align:right
}
ul.chqpick li span:nth-child(2) {
text-align:left;
padding-left:10px
}
.pt50 {
	padding-top:50px
}
.chqp1 {
	padding:6px 0 0 207px
}
.chqp2 {
	padding:16px 0 0 41px
}
.chq3 {
	padding:8px 0 0 63px
}
.chqp4 {
	right:31px;
	top:115px
}
.cheque {
	background:url(http://static.jeevansathi.com/images/jspc/membership_img/samplechq.jpg) no-repeat;
	width:293px;
	height:141px
}
.icicilogo {
	background-position:-110px -131px;
	width:71px;
	height:20px
}
.hdfclogo {
	background-position:-110px -151px;
	width:71px;
	height:20px
}
.axislogo {
	background-position:-112px -170px;
	width:71px;
	height:30px
}
.citilogo {
	background-position:-188px -129px;
	width:63px;
	height:22px
}
.paytmlogo {
	background-position:-188px -154px;
	width:63px;
	height:22px
}
.kotaklogo {
	background-position:-259px -129px;
	width:70px;
	height:22px
}
.mobikwiklogo {
	background-position:-261px -154px;
	width:68px;
	height:22px
}
.paypallogo {
	background-position:-186px -182px;
	width:68px;
	height:22px
}
.mem-outline-none {
	outline:none
}
.tabs li.active:hover {
	cursor:default
}
.memnp1{padding:22px}
